* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-sco.pc.in -text
/apertium-sco.post-sco.dix -text svneol=unset#application/xml
/apertium-sco.sco.acx -text svneol=unset#application/xml
/apertium-sco.sco.dix -text
/apertium-sco.sco.rlx -text
/apertium-sco.sco.tsx -text
/autogen.sh -text
/configure.ac -text
dev/corp/sco/README.md -text
dev/corp/sco/kingly_hooses_pdftotext_all.txt -text
dev/corp/sco/text.txt -text
/modes.xml -text
/sco.prob -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
