/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/apertium-sco.pc
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/sco.autogen.att.gz
/sco.autogen.bin
/sco.automorf.att.gz
/sco.automorf.bin
/sco.autopgen.bin
/sco.rlx.bin
/*.hfst
/*.zhfst
/.DS_Store
/*.mode
/*-*.prob
/config.in
/config
/test/*-output.txt
